


head
 
body
/* FONTS ------------------------------------------------------ */

.bokor-regular {
  font-family: "Bokor", serif;
  font-weight: 400;
  font-style: normal;
  
}

.background   {
  background-image: url("img./IMG_9303.JPG")
  
}

.text-center {
  font-family: "Impact", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: blue;
}

.text-left {
  font-family: "Impact", serif;
  font-weight: 350;
  font-style: normal;
  text-align: left;
  color: blue
}

.about-text {
  font-family: "Impact", serif;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  color: blue;
  margin-top: 3cm;
  margin-bottom: 1cm;
}

.text-centerr {
  font-family: "Impact", serif;
  font-weight: 800;
  font-size: 2000;
  font-style: normal;
  text-align: center;
  color: blue;
}

.navbar {
  position: fixed;
  top: 0;
  padding: var(--spacer-m);
  z-index: 10;
  box-sizing: border-box;
  margin: 0;
  margin-top: 1cm;
  margin-left: 1cm;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100;
}

.bild-container1 {
  height: 5cm;
  width: 5cm;
  margin-top: 2cm;
  margin-left: 7cm;
  margin-bottom: 3cm;
}

.project1 {
  
  height: 200px;
  width: 150px;
  
}



.bild-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10cm;
  margin-top: 30cm;
}



.bild-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 2cm;
  padding-top: 0cm;
  margin: 1cm;
}

.h2 {
  font-family: "Impact", serif;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  color: blue;
  margin-top: 5cm;
}

.h3 {
 font-family: "Impact", serif;
 font-weight: 800;
 font-size: 100px;
 font-style: normal;
 text-align: center;
 color: blue;
 margin-top: 5cm;
}

.h4 {
  font-family: "Impact", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: blue;
  margin-top: -20cm;
  padding-left: 20cm;
}

.h5 {
  font-family: "Impact", serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  color: blue;
  margin-right: 10;
}

.h6 {
  font-family: "Impact", serif;
  font-weight: 500;
  font-size: 700;
  font-style: normal;
  text-align: center;
  margin: 1cm;
  color: blue;
}

.h7 {
  font-family: "Impact", serif;
  font-weight: 500;
  font-size: 700;
  font-style: normal;
  text-align: center;
  margin: 1cm;
  color: white;
}

/* From Uiverse.io by ferlagher */ 
button {
  position: relative;
  font-size: 1.2em;
  padding: 5em 3em;
  margin-left: 18em;
  margin-bottom: 5cm;
  background-color: blue;
  text-decoration: none;
  border: none;
  border-radius: 10em;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  
  border-radius: 0 0 0.5em 0;
 
  transition: 0.3s;
}

button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
  cursor: pointer;
}


.lets-talk {
  grid-column: 6/6;
  align-self: flex-start;
  justify-self: start;
  box-sizing: border-box;
  padding: 0;
  margin-left: 35cm;
  display: inline-block;
  width: max-content;
  border-radius: 100vh;
  padding: var(--spacer-s);
  cursor: pointer;

  position: relative;
  font-size: 1.2em;
  padding: 5em 3em;
  margin-left: 34cm;
  margin-top: 1cm;
  margin-bottom: 5cm;
  background-color: blue;
  text-decoration: none;
  border: none;
  border-radius: 10em;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

